<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="org.doit.goodpang.mapper.MemberMapper">

    <select id="read"
            resultType="org.doit.goodpang.domain.MemberVO">

        SELECT
            MEMBER_NO   AS memberNo,
            MEMBER_ID   AS memberId,
            MEMBER_PW   AS memberPw,
            MEMBER_NAME AS memberName,
            PHONE       AS phone,
            EMAIL       AS email,
            RANK        AS rank,
            STATUS      AS status
        FROM MEMBER
        WHERE MEMBER_ID = #{memberId}

    </select>

</mapper>